@import "tailwindcss";
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Tambahkan ini di paling bawah */
html,
body,
#root {
  height: 100%;
  margin: 0;
}
